a:visited,a:link{
    color:darkcyan;
}

html{
    margin: 5px;
    text-align: center;
    background-color: #dddddd;
}
main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
h2{
    font-size: 180%;
    margin: 5px auto 5px auto;
}
.sub{
    margin-top: 5px;
}
footer {
    padding: 0 40px 0 40px;
    margin-top: 90%;
}

.intro-pic {
    padding: 25px;
    width: 300px;
}

.intro-list > html{
    text-align: left !important;
}

.nav2{
    font-size: 80%;
}

.good-site > ul , .bad-site > ul, .good-site > ul > html, .bad-site > ul >html{
    text-align: left;
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }

table{
  margin: 0 auto;
}
ol {
  list-style-position: inside;
  text-align: center;
}
.divider{
  margin: 15px;
}

.complex-table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}
table, th, td{
  border: 1px solid black;
}
.complex-table th, .complex-table td {
  padding: 5px;
  text-align: center;
}

.complex-table tr:nth-child(1) {
  background-color: #4CAF50;
  color: #f2f2f2;
}

.complex-table tr:nth-child(2n+2):not(:first-child) {
  background-color: #f2f2f2;
}

.complex-table tr:nth-child(2n+3):not(:first-child) {
  background-color: #b8b8b8;
}




