<div class="header-banner">
      <div class="header-content">
        <div class="header-logo">
          <a href="index.html" class="hide-link"><h1>Let's Learn CSS</h1></a>
        </div>
      </div>
    </div>
    <nav class="top-nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="design_guides.html">Design Guides</a></li>
          <li><a href="box_model.html">The Box Model</a></li>
          <li><a href="syntax.html">Syntax</a></li>
          <!--<li><a href="examples.html">Examples</a></li>-->
          <li><a href="about.html">About Us</a></li>
        </ul>
      </nav>
    
